* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100vw;
  min-height: 100vh;
  background-color: #f8f8f8;
  overflow-x: hidden; }

.button {
  background-color: darkslateblue;
  color: #f8f8f8;
  font-size: 1rem;
  padding: 10px;
  text-decoration: none;
  border-radius: 3px; }
  .button:hover {
    background-color: #7e72ca; }

.heroBanners {
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f8f8f8;
  padding: 0 50px; }

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px; }
  nav .navLogo {
    display: flex;
    justify-content: left;
    flex: 1 0 auto; }
  nav .navContainer {
    flex: 1 1 auto;
    height: 100%;
    align-items: center; }
    nav .navContainer .navInput, nav .navContainer .navLabel {
      display: none; }
    nav .navContainer .navMenu {
      display: grid;
      grid-auto-flow: column;
      gap: 1em;
      align-items: center; }
      nav .navContainer .navMenu .navItem {
        display: block;
        color: #f8f8f8;
        text-decoration: none;
        padding: 10px 0 10px 0; }
        nav .navContainer .navMenu .navItem:hover {
          background-color: rgba(255, 255, 255, 0.247); }
    @media screen and (max-width: 480px) {
      nav .navContainer .navItem {
        width: 100%; }
      nav .navContainer .navLabel {
        display: block; }
      nav .navContainer .navMenu {
        position: fixed;
        top: 100px;
        bottom: 0;
        background-color: #1b1b1b;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        clip-path: circle(0 at bottom);
        transition: clip-path 1s ease-in-out; }
      nav .navContainer .navInput:checked + .navMenu {
        clip-path: circle(100% at center); } }

.singleSection {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
  background-color: darkslateblue;
  padding: 35px 5%;
  color: #f8f8f8;
  background-color: darkslateblue;
  padding: 50px; }
  @media screen and (max-width: 480px) {
    .singleSection {
      grid-template-columns: 1fr;
      gap: 0em; } }
  .singleSection div {
    text-align: center; }

.doubleSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  padding: 0 50px; }
  @media screen and (max-width: 767px) {
    .doubleSection {
      grid-template-columns: 1fr;
      gap: 0em; } }
  .doubleSection div {
    padding: 20px 0; }
    .doubleSection div img {
      display: block; }

.tripleSectionIcon {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  padding: 20px 50px 50px; }
  @media screen and (max-width: 680px) {
    .tripleSectionIcon {
      grid-template-columns: 1fr;
      gap: 0em; } }
  .tripleSectionIcon div {
    text-align: center; }
    .tripleSectionIcon div ul {
      padding: 0;
      list-style-type: none; }
  .tripleSectionIcon i {
    font-size: xx-large;
    margin-top: 30px; }

.tripleSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em; }
  @media screen and (max-width: 480px) {
    .tripleSection {
      grid-template-columns: 1fr;
      gap: 0em; } }
  .tripleSection div {
    text-align: center;
    padding: 10px; }
    .tripleSection div ul {
      padding: 0;
      list-style-type: none; }

.imageContainer {
  display: flex;
  justify-content: center; }

.demoCard {
  border-radius: 5px;
  box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.75);
  margin: 20px 0; }
  .demoCard p {
    padding: 0 20px 20px;
    color: #1b1b1b; }
  .demoCard img {
    display: block;
    width: 100%;
    height: 18rem;
    object-fit: cover; }
  .demoCard:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2); }

.articleList {
  padding: 0 50px; }
  .articleList ul {
    padding: 20px;
    list-style-type: none; }
    .articleList ul li {
      border-radius: 5px;
      box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.75);
      margin: 10px;
      padding: 10px;
      display: flex;
      align-items: center;
      font-weight: lighter; }
      @media (min-width: 581px) {
        .articleList ul li img {
          margin-right: 10px;
          min-width: 150px;
          max-width: 200px;
          padding: 20px 0; } }
      @media (max-width: 580px) {
        .articleList ul li {
          flex-direction: column; }
          .articleList ul li div h2, .articleList ul li div p {
            text-align: center; }
          .articleList ul li div img {
            display: block;
            width: 100vw;
            object-fit: contain; } }
      .articleList ul li:hover {
        transform: translateY(-0.5%);
        box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2); }

img {
  max-width: 100%;
  height: auto; }

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
  font-weight: lighter;
  text-align: left; }

h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
  font-weight: lighter;
  text-align: left; }

h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
  font-weight: 400;
  color: darkslateblue;
  margin-bottom: 15px; }

h4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
  font-weight: lighter;
  color: #f8f8f8;
  margin-bottom: 15px;
  text-align: center; }

h5 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  color: darkslateblue;
  margin: 10px 0; }

h6 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium; }

.darkp {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #1b1b1b; }

.lightp {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #f8f8f8; }

ul {
  list-style: none;
  padding: 0;
  list-style-type: none; }
  ul a:link, ul :visited {
    text-decoration: none;
    color: #1b1b1b; }

i {
  color: darkslateblue; }

input {
  border-color: rgba(126, 114, 202, 0.226);
  border-radius: 5px;
  border-width: 1px;
  margin: 10px 0;
  font-size: 1.4em; }

label {
  font-size: 1rem;
  color: #1b1b1b;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

textarea {
  border-color: rgba(126, 114, 202, 0.226);
  border-radius: 5px;
  border-width: 1px;
  font-size: .9em; }

form {
  text-align: center;
  margin: 0;
  padding: 0; }

footer .footerHeader {
  background-color: darkslateblue;
  color: #f8f8f8;
  text-align: center;
  padding: 15px 50px; }

footer .tripleSection {
  justify-content: center;
  margin: 0 5px;
  padding: 30px 50px; }

footer .rights {
  background-color: #1b1b1b;
  color: #f8f8f8;
  text-align: center;
  padding: 5px; }

.button {
  background-color: darkslateblue;
  color: #f8f8f8;
  font-size: 1rem;
  padding: 10px;
  text-decoration: none;
  border-radius: 3px; }
  .button:hover {
    background-color: #7e72ca; }

.heroBanners {
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f8f8f8;
  padding: 0 50px; }

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px; }
  nav .navLogo {
    display: flex;
    justify-content: left;
    flex: 1 0 auto; }
  nav .navContainer {
    flex: 1 1 auto;
    height: 100%;
    align-items: center; }
    nav .navContainer .navInput, nav .navContainer .navLabel {
      display: none; }
    nav .navContainer .navMenu {
      display: grid;
      grid-auto-flow: column;
      gap: 1em;
      align-items: center; }
      nav .navContainer .navMenu .navItem {
        display: block;
        color: #f8f8f8;
        text-decoration: none;
        padding: 10px 0 10px 0; }
        nav .navContainer .navMenu .navItem:hover {
          background-color: rgba(255, 255, 255, 0.247); }
    @media screen and (max-width: 480px) {
      nav .navContainer .navItem {
        width: 100%; }
      nav .navContainer .navLabel {
        display: block; }
      nav .navContainer .navMenu {
        position: fixed;
        top: 100px;
        bottom: 0;
        background-color: #1b1b1b;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        clip-path: circle(0 at bottom);
        transition: clip-path 1s ease-in-out; }
      nav .navContainer .navInput:checked + .navMenu {
        clip-path: circle(100% at center); } }

.singleSection {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
  background-color: darkslateblue;
  padding: 35px 5%;
  color: #f8f8f8;
  background-color: darkslateblue;
  padding: 50px; }
  @media screen and (max-width: 480px) {
    .singleSection {
      grid-template-columns: 1fr;
      gap: 0em; } }
  .singleSection div {
    text-align: center; }

.doubleSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  padding: 0 50px; }
  @media screen and (max-width: 767px) {
    .doubleSection {
      grid-template-columns: 1fr;
      gap: 0em; } }
  .doubleSection div {
    padding: 20px 0; }
    .doubleSection div img {
      display: block; }

.tripleSectionIcon {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  padding: 20px 50px 50px; }
  @media screen and (max-width: 680px) {
    .tripleSectionIcon {
      grid-template-columns: 1fr;
      gap: 0em; } }
  .tripleSectionIcon div {
    text-align: center; }
    .tripleSectionIcon div ul {
      padding: 0;
      list-style-type: none; }
  .tripleSectionIcon i {
    font-size: xx-large;
    margin-top: 30px; }

.tripleSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em; }
  @media screen and (max-width: 480px) {
    .tripleSection {
      grid-template-columns: 1fr;
      gap: 0em; } }
  .tripleSection div {
    text-align: center;
    padding: 10px; }
    .tripleSection div ul {
      padding: 0;
      list-style-type: none; }

.imageContainer {
  display: flex;
  justify-content: center; }

.demoCard {
  border-radius: 5px;
  box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.75);
  margin: 20px 0; }
  .demoCard p {
    padding: 0 20px 20px;
    color: #1b1b1b; }
  .demoCard img {
    display: block;
    width: 100%;
    height: 18rem;
    object-fit: cover; }
  .demoCard:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2); }

.articleList {
  padding: 0 50px; }
  .articleList ul {
    padding: 20px;
    list-style-type: none; }
    .articleList ul li {
      border-radius: 5px;
      box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.75);
      margin: 10px;
      padding: 10px;
      display: flex;
      align-items: center;
      font-weight: lighter; }
      @media (min-width: 581px) {
        .articleList ul li img {
          margin-right: 10px;
          min-width: 150px;
          max-width: 200px;
          padding: 20px 0; } }
      @media (max-width: 580px) {
        .articleList ul li {
          flex-direction: column; }
          .articleList ul li div h2, .articleList ul li div p {
            text-align: center; }
          .articleList ul li div img {
            display: block;
            width: 100vw;
            object-fit: contain; } }
      .articleList ul li:hover {
        transform: translateY(-0.5%);
        box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2); }

img {
  max-width: 100%;
  height: auto; }

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
  font-weight: lighter;
  text-align: left; }

h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
  font-weight: lighter;
  text-align: left; }

h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
  font-weight: 400;
  color: darkslateblue;
  margin-bottom: 15px; }

h4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
  font-weight: lighter;
  color: #f8f8f8;
  margin-bottom: 15px;
  text-align: center; }

h5 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  color: darkslateblue;
  margin: 10px 0; }

h6 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium; }

.darkp {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #1b1b1b; }

.lightp {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #f8f8f8; }

ul {
  list-style: none;
  padding: 0;
  list-style-type: none; }
  ul a:link, ul :visited {
    text-decoration: none;
    color: #1b1b1b; }

i {
  color: darkslateblue; }

input {
  border-color: rgba(126, 114, 202, 0.226);
  border-radius: 5px;
  border-width: 1px;
  margin: 10px 0;
  font-size: 1.4em; }

label {
  font-size: 1rem;
  color: #1b1b1b;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

textarea {
  border-color: rgba(126, 114, 202, 0.226);
  border-radius: 5px;
  border-width: 1px;
  font-size: .9em; }

form {
  text-align: center;
  margin: 0;
  padding: 0; }

.heroBanner__index {
  width: 100vw;
  height: 450px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #f8f8f8;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/hero1.webp);
  padding: 0 50px; }
  .heroBanner__index .bannerText {
    padding: 40px 0; }

.doubleSection__index {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  background-image: url(../assets/images/background1.webp);
  padding: 50px; }
  @media screen and (max-width: 767px) {
    .doubleSection__index {
      grid-template-columns: 1fr;
      gap: 0em; } }
  .doubleSection__index div {
    padding: 20px 0; }
    .doubleSection__index div img {
      display: block; }

.heroBanner__aboutMe {
  width: 100vw;
  height: 450px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #f8f8f8;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/hero2.webp);
  padding: 0 50px; }
  .heroBanner__aboutMe .bannerText {
    padding: 40px 0; }

.doubleSection__about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  background-image: url(../assets/images/background1.webp);
  padding: 50px; }
  @media screen and (max-width: 767px) {
    .doubleSection__about {
      grid-template-columns: 1fr;
      gap: 0em; } }
  .doubleSection__about div {
    padding: 20px 0; }
    .doubleSection__about div img {
      display: block; }

.heroBanner__contact {
  width: 100vw;
  height: 450px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #f8f8f8;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/hero5.webp);
  padding: 0 50px; }
  .heroBanner__contact .bannerText {
    padding: 40px 0; }

.doubleSection__index {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  background-image: url(../assets/images/background1.webp);
  padding: 50px; }
  @media screen and (max-width: 767px) {
    .doubleSection__index {
      grid-template-columns: 1fr;
      gap: 0em; } }
  .doubleSection__index div {
    padding: 20px 0; }
    .doubleSection__index div img {
      display: block; }

.heroBanner__blog {
  width: 100vw;
  height: 450px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #f8f8f8;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/hero4.webp);
  padding: 0 50px; }
  .heroBanner__blog .bannerText {
    padding: 40px 0; }

.singleSection__blog {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
  background-color: darkslateblue;
  padding: 35px 5%;
  text-align: center;
  background-color: #f8f8f8;
  padding: 50px; }
  @media screen and (max-width: 480px) {
    .singleSection__blog {
      grid-template-columns: 1fr;
      gap: 0em; } }
  .singleSection__blog div {
    text-align: center; }

.heroBanner__article {
  width: 100vw;
  height: 450px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #f8f8f8;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/hero6.webp);
  padding: 0 50px;
  margin-bottom: 30px; }
  .heroBanner__article .bannerText {
    padding: 40px 0; }

.articleContent {
  margin: auto;
  width: 65%;
  padding: 10px; }
  .articleContent img {
    margin: 10px 0 10px 0; }
  @media screen and (max-width: 1024px) {
    .articleContent {
      width: 85%; } }

.heroBanner__demo {
  width: 100vw;
  height: 450px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #f8f8f8;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/hero3.webp);
  padding: 0 50px; }
  .heroBanner__demo .bannerText {
    padding: 40px 0; }
