// Utilities
@import './utilities/variables';
@import './utilities/mixins';

.heroBanner__aboutMe {
    @include heroBanners;
    background-image: $grey-filter-gradient, url(../assets/images/hero2.webp);
    padding: 0 50px;
    .bannerText {
        padding: 40px 0;
    }
}

.doubleSection__about {
    @include doublegrid;
    background-image: url(../assets/images/background1.webp);
    padding: 50px;
}
