// Utilities
@import './utilities/variables';
@import './utilities/mixins';

.heroBanner__blog {
    @include heroBanners;
    background-image: $grey-filter-gradient, url(../assets/images/hero4.webp);
    padding: 0 50px;
    .bannerText {
        padding: 40px 0;
    }
}

.singleSection__blog {
    @include singlegrid;
    text-align: center;
    background-color: $light-color;
    padding: 50px;
}