// Utilities
@import './utilities/variables';
@import './utilities/mixins';

.heroBanner__demo {
    @include heroBanners;
    background-image: $grey-filter-gradient, url(../assets/images/hero3.webp);
    padding: 0 50px;
    .bannerText {
        padding: 40px 0;
    }
}

