// Colors
$primary-color: darkslateblue;
$secondary-color: rgb(22, 255, 158);
$tertiary-color: rgb(255, 236, 127);
$dark-color: rgb(27, 27, 27);
$light-color: #f8f8f8;
$background-color-white: #f8f8f8;
$nav-background-hover:rgba(255, 255, 255, 0.247);
$button-background-hover: rgb(126, 114, 202);
$section-background-hover: rgba(126, 114, 202, 0.226);
$grey-filter-gradient: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

// Fonts
$main-fonts: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;