* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100vw;
    min-height: 100vh;
    background-color: #f8f8f8;
    overflow-x: hidden;
}