* { 
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100vw;
    height: fit-content;
    background-color: #f8f8f8;
    overflow-x: hidden;
}