// Utilities
@import './utilities/variables';
@import './utilities/mixins';

.heroBanners {
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $light-color;
    padding: 0 50px;
    }

